<div class="navigation-bar">
  <div id="navigation-container">
      <img class="logo" src="assets/img/bank1.png" alt="BANK">
      <ul> 
          <li><a routerLink="home">HOME</a></li>
          <li><a routerLink="about">ABOUT US</a></li>
          <li><a routerLink="services">SERVICES</a></li>
          <!-- <li><a routerLink="login">Login</a></li>
          <li><a routerLink="register">Register</a></li> -->
          <li><a routerLink="contact">CONTACT US</a></li>
          <li><a routerLink="logout">LOGOUT</a></li>
      </ul>
  </div>
</div>