<div *ngIf="lc.loginCheck; else loggedOut">

<h1>About Us</h1>
<hr>
<p>doTemplate is a small IT start-up based in Paris. Our passion is to make website creation easier and more affordable. We created doTemplate.com in that spirit. doTemplate is a Free Online Web Template Generator. It offers a catalog of Web templates you can fully and easily customize online.

</p><br>
<p>We built our online website template generator in 2007 and we were the first website offering this kind of online service. Since then, we are working hard to improve our tool to offer you custom designer-made templates so that you can save time on template design and create a professional website more quickly and easily.

</p><br>
<h3>More than 500 000+ website templates downloaded
</h3><p>Since 2007, doTemplate has helped thousands of people and companies to create their websites using our free customizable templates. More than 500k templates have been customized and downloaded. doTemplate has been highlighted in multiple world’s leading Web design blogs and articles as one of the best online web design tool, like CNET.com and Mashable.

</p><br>When doTemplate was launched, it was on top of Delicious for several days among the most bookmarked websites in the web design related categories.

<h3>Our new Template Generator version</h3>
<p>We are proud to launch the new version of our unique Online Template Generator. Not only has it been designed to meet high level expectations in terms of templates design, but it also offers more advanced features i.e. responsive theme, WordPress theme export, clean HTML5 code for easy maintenance and update and any more.
</p></div>

<ng-template #loggedOut>
        <logout></logout>
    </ng-template>